body {
background: gray;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: darkgoldenrod;
text-align: center;
}
.about {
    color:black;
}
.skills{
    color:deepskyblue;
}
.projects{
    color:darkred;
}
.contact{
    color:indigo;
}